# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Publish

on:
  workflow_dispatch:
    inputs:
      loader:
        type: choice
        description: Mod loader
        options: 
        - fabric
        - forge
      release_type:
        type: choice
        description: Release type
        options: 
        - alpha
        - beta
        - release

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Build with Gradle
      uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
      with:
        arguments: :${{ inputs.loader }}:publishMod -Prelease_type=${{ inputs.release_type }}
      env:
        CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_KEY }}
        MODRINTH_API_KEY: ${{ secrets.MODRINTH_API_KEY }}
        GH_API_KEY: ${{ secrets.GH_API_KEY }}
